@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

header{/*cabeça do codgo*/
    width: 100%;
    height: 475px;
    background-color: #303030;
}

div#cabeca{
    width: 100%;
    height: 120px;
    position: absolute;
    top: 206px;
    left: 62px;
}

header>div>h1#tradiacao-em-p{
    color: white;
    font-size: 60px;
    line-height: 72px;
}

header>div>p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
/*final de cabeça da landing page*/

/*começo de corpo da landing page*/
div#informacoes-base{
    width: 100%;
    height: 229px;
    background-color: #f9f9f9;
    display:flex;
}
main>div#informacoes-base>p{
    margin: auto;
    font-size: 20px;
    strong{
        font-size: 30px;
    }
}

main>div#historia-e-experiencia{
    width: 645px;
    height: 220px;
    position: relative;
    top: 206px;
    left: 77px;
}
main>div#historia-e-experiencia>h2{
    font-size: 40px;
    margin-bottom: 35px;
}
main>div#historia-e-experiencia>p{
    font-size: 24px;
    text-align: justify;
}
main>img#img1{
    position: absolute;
    left: 876px;
    top: 781px;
    width: 510px;
    height: 605px;
    border-radius: 30px;
}
/*final do corpo da landing page*/

/*inicio do pé da landing page(parte do formulario)*/

footer{
    position: absolute;
    top: 1478px;
    background-color: #303030;
    width: 100%;
    height: 638px;
}
footer>h2{
    position: relative;
    left:0vh;
    top: 57px;
    color: #ffffff;
    text-align: center;
    font-size: 32px;
}
footer>form{
    width: 510px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
footer>form>input{
    font-size: 24px;
    font-weight: 700;
    width: 498px;
    height: 72px;
    border-radius: 10px;
    border: none;
    margin: 42px auto;
    outline: none;
    padding-left: 10px;
}
footer>form>button{
    width: 286px;
    height: 74px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 57px 0 0 112px;
    background-color: #c07212;
    cursor: pointer;
    color: white;
}

footer>form>button:hover{
    background-color: #c07212d7;
    box-shadow: 0 0 10px black;
}
/*final do pé da landing page*/
